@import "../App.scss";

.helper {
  height: 6rem;
  @include respond(phone) {
    height: 7rem;
  }
  @include respond(tablet) {
    height: 8rem;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: $color-primary;
  position: fixed;
  width: 100%;
  z-index: 2;
  font-size: 1.6rem;
  height: 6rem;
  line-height: 3rem;
  & a {
    text-decoration: none;
    color: $color-white;
    padding: 0 22px;
    @include respond(phone) {
      padding: 0 12px;
    }
    @include respond(tablet) {
      padding: 0 18px;
    }
    & img.navigation {
      width: 60%;
      @include respond(phone) {
        width: 60%;
      }
      @include respond(tablet) {
        width: 80%;
      }
    }
  }
  @include respond(phone) {
    font-size: 1.6rem;
    height: 7rem;
    line-height: 2.5rem;
  }
  @include respond(tablet) {
    font-size: 2rem;
    height: 8rem;
    line-height: 2.5rem;
  }
  .title {
    text-align: center;
  }
  .back.hidden {
    visibility: hidden;
    pointer-events: none;
  }
  img.locations {
    float: right;
  }
}
