@import "./assets/scss/fonts";
@import "./assets/scss/utilities";
@import "./assets/scss/variables";

* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%; // 1rem = 10px
  font-family: $font-regular;
}
